@use "src/assets/css/mixins" as css;
.footer {
  margin-top: 10rem;
  background: #031b34;
  color: #ffffff;
  @media screen and (max-width: 600px) {
    margin-top: 5rem;
  }
  .footer__top {
    padding: 10rem 0;
    text-align: center;
    @media screen and (max-width: 1200px) {
      padding: 6rem 0;
    }
    @media screen and (max-width: 1000px) {
      padding: 4rem 0;
    }
    @media screen and (max-width: 768px) {
      padding: 3rem 0;
    }
    h3 {
      @include css.colordText();
      font-weight: 800;
      font-size: 62px;
      line-height: 75px;
      text-align: center;
      letter-spacing: -0.04em;
      @media screen and (max-width: 1200px) {
        font-size: 50px !important;
      }
      @media screen and (max-width: 1000px) {
        font-size: 40px !important;
        line-height: 65px;
        margin-bottom: 3rem;
      }
      @media screen and (max-width: 768px) {
        font-size: 30px !important;
        line-height: 50px;
        margin-bottom: 2rem;
      }
      @media screen and (max-width: 600px) {
        font-size: 25px !important;
        line-height: 40px;
        margin-bottom: 1rem;
      }
    }
    a {
      display: inline-block;
      padding: 1rem;
      border: 1px solid #ffffff;
      font-size: 18px;
      line-height: 21px;
      margin-top: 3rem;
      @media screen and (max-width: 600px) {
        padding: 0.5rem;
        font-size: 14px;
        margin-top: 1rem;
      }
    }
  }
  .footer__bottom {
    display: grid;
    grid-template-columns: 1fr 0.6fr 0.6fr 0.6fr;
    @media screen and (max-width: 990px) {
      width: 80%;
      grid-template-columns: 1fr 1fr;
      margin: auto;
      gap: 2rem 0;
    }
    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr;
    }
    ul {
      &:nth-of-type(1) {
        li {
          img {
            width: 100px;
          }
        }
      }
      li {
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 1.2rem;
        &:nth-of-type(1) {
          font-size: 1rem;
          font-weight: 800;
          line-height: 16px;
          margin-bottom: 1.5rem;
        }
      }
    }
  }
  .copy__right {
    padding: 1.5rem;
    text-align: center;
    font-size: 13px;
    line-height: 14px;
    margin-top: 3rem;
  }
}
