.line {
  position: relative;
  display: block;
  width: 38px;
  height: 3px;
  background: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%),
    #ffffff;
  margin-bottom: 0.5rem;
}
