$textColor: #81afdd;
@mixin colordText() {
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.container {
  width: 1300px;
  max-width: 90%;
  margin: auto;
  @media screen and (max-width: 990px) {
    max-width: 80%;
  }
  @media screen and (max-width: 600px) {
    max-width: 90%;
  }
}
